.divNumericCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.divNumericCounter h1 {
  font-family: Jacques Francois;
  font-size: 36px;
  font-style: italic;
  margin-top: 0.5%;
  margin-bottom: 1%;
}
.divDisplayNumbers p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Jacques Francois;
  font-size: 30px;
  font-style: italic;
  margin-top: 0.5%;
  margin-bottom: 1%;
}
.divButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 2%;
  background-color: black;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 25px;
}
