.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
/* Letreiro */
.Letreiro {
  overflow: hidden;
  height: 50px; /* Altura do letreiro */
  width: 100%; /* Largura total */
}

.Letreiro div {
  display: inline-block;
  padding: 0 20px; /* Espaçamento horizontal */
  opacity: 0; /* Começa invisível */
  white-space: nowrap; /* Impede que o texto quebre */
  transition: opacity 1s ease; /* Transição suave de opacidade */
}

.Letreiro div.active {
  opacity: 1; /* Torna o item visível */
}

/* Contatdor de pesoas  */
.contador-container {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}

.pessoa-container {
  text-align: center;
}

.icone-pessoa {
  width: 100px;
}

.resetar-btn {
  display: block;
  margin: 0 auto;
}
